* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e8e7e0;
}



/* This is a CSS comment
It can be broken onto multiple lines. 

A good tip is to add a block of comments between logical sections in your stylesheet too, to help locate different sections quickly when scanning through, or even give you something to search for to jump right into that part of the CSS. If you use a string which won't appear in the code you can jump from section to section by searching for it — below we have used ||*/

/* || General styles */

...

/* || Typography */

...

/* || Header and Main Navigation */


/*You don't need to comment every single thing in your CSS, as much of it will be self-explanatory. What you should comment are the things where you made a particular decision for a reason.

Create logical sections in your stylesheet
It is a good idea to have all of the common styling first in the stylesheet. This means all of the styles which will generally apply unless you do something special with that element. You will typically have rules set up for:
* body
* p
* h1, h2, h3, h4, h5
* ul and ol
* The table properties
* Links */


/*In this section of the stylesheet we are providing default styling for the type on the site, setting up a default style for data tables and lists and so on. /*

/* || GENERAL STYLES */


body {
  
}


h1 {
  text-align: center;
  margin: 75px 50px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 40px;
 
  
}



h2 {
  font-size: 16px;
  font-weight: 200;
  
}

h3 {
  font-size: 12px;
  color: gray;
  padding: 5px;
}

h1, h2, h3, h4 { ... }

ul { ... }

blockquote { ... }

img {
  width: 100%;
  
}

/*After this section we could define a few utility classes, for example a class that removes the default list style for lists we're going to display as flex items or in some other way. If you have a few things you know you will want to apply to lots of different elements, they can come in this section. */

/* || UTILITIES */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

...


/*Then we can add everything that is used sitewide. That might be things like the basic page layout, the header, navigation styling, and so on. */

/* || SITEWIDE */

.main-nav { ... }

.logo { ... }


/*Finally we will include CSS for specific things, broken down by the context, page or even component in which they are used. */

/* || STORE PAGES */

.product-listing { ... }

.product-box { ... }

form {
  width: 75vw;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  flex-grow: 1;
  border: none;
  
}

.button {
  min-width: 10vw;
  margin: 40px auto;
  padding: 10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}


.enterYourEmail {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

img {
  width: 75px;
  
  
}

.card {
  padding: 50px;
}

/* By ordering things in this way, we at least have an idea in which part of the stylesheet we will be looking for something that we want to change. */
